.index{
    background-image: url("/images/fondo.png");
    display:flex;
    justify-content:center;
    align-items:center;
}
/*Barra de navegacion*/
.nav{
    margin: 1%;
}
.nombre{
    height: 25vh;
    width: 110vh;
    background-image: url("/images/nombre2.png");
    background-size: cover;
}
.foto{
    height: 60px;
    width: 60px;
}
.boton{
    margin: 20px;
    margin-top: 40px;
}
.hr-1{
    border: 1px solid yellow;
}
a {
    text-decoration:none;
    color:#FFF;
  }
  .rainbow-button {
    width:calc(17vw + 6px);
    height:calc(6vw + 6px);
    background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
    border-radius:5px;
    display:flex;
    align-items:center;
    justify-content:center;
    text-transform:uppercase;
    font-size:2vw;
    font-weight:bold;
  }
  .rainbow-button:after {
    content:attr(alt);
    width:17vw;
    height:6vw;
    background-color:#191919;
    display:flex;
    align-items:center;
    justify-content:center;
  }
  .rainbow-button:hover {
    animation:slidebg 2s linear infinite;
    color: #00C0FF;
  }
  
  @keyframes slidebg {
    to {
      background-position:20vw;
    }
  }
.botones{
    display: flex;
    justify-content: center;
}
.contacto{
    margin-top: 12vh;
}